.header {
	display: block;
}

.scan-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
}
#video {
	width: 100%;
	max-width: 80vw;
	height: auto;
	max-height: 80vh;
	margin: 20px auto;
	border: 2px solid #000;
}
#captured-image {
	position: relative;
	width: 100%;
	max-width: 80vw;
	height: auto;
	max-height: 80vh;
	margin: 20px auto;
	border: 2px solid #000;
}

.container {
	text-align: center;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 700px;
	margin: auto;
	position: relative;
}

video {
	width: 100%;
	max-width: 600px;
	border-radius: 10px;
	border: 2px solid #ccc;
	margin-bottom: 20px;
}

.controls {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	flex-wrap: wrap;
	gap: 2rem;
}

.controls button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	font-size: 16px;
	color: #333;
	background-color: #f9f9f9;
	border: 2px solid #ccc;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 5px;
	flex-grow: 1;
}

.controls button:hover {
	background-color: #ececec;
}

.controls button i {
	margin-right: 8px;
}

#identify-btn {
	background-color: #0d6efd;
	color: white;
	border: none;
}

#identify-btn:hover {
	background-color: #0056b3;
}

/*========== Modal Css ==========*/

.show-modal {
	outline: none;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 6px;
	font-size: 1.2rem;
	padding: 15px 22px;
	background: #4a98f7;
	transition: 0.3s ease;
	box-shadow: 0 10px 18px rgba(52, 87, 220, 0.18);
}
.show-modal:hover {
	background: #2382f6;
}
.bottom-sheet {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	opacity: 0;
	pointer-events: none;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	transition: 0.1s linear;
}
.bottom-sheet.show {
	opacity: 1;
	pointer-events: auto;
}
.bottom-sheet .sheet-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background: #000;
}
.bottom-sheet .content {
	width: 100%;
	position: relative;
	background: #fff;
	max-height: 100vh;
	height: 50vh;
	max-width: 1150px;
	padding: 25px 30px;
	transform: translateY(100%);
	border-radius: 12px 12px 0 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
	transition: 0.3s ease;
}
.bottom-sheet.show .content {
	transform: translateY(0%);
}
.bottom-sheet.dragging .content {
	transition: none;
}
.bottom-sheet.fullscreen .content {
	border-radius: 0;
	overflow-y: hidden;
}
.bottom-sheet .header {
	display: flex;
	justify-content: center;
}
.header .drag-icon {
	cursor: grab;
	user-select: none;
	padding: 15px;
	margin-top: -15px;
}
.header .drag-icon span {
	height: 4px;
	width: 40px;
	display: block;
	background: #c7d0e1;
	border-radius: 50px;
}
.bottom-sheet .body {
	height: 100%;
	overflow-y: auto;
	padding: 15px 0 40px;
	scrollbar-width: none;
}
.bottom-sheet .body::-webkit-scrollbar {
	width: 0;
}
.bottom-sheet .body h2 {
	font-size: 1.8rem;
}
.bottom-sheet .body p {
	margin-top: 20px;
	font-size: 1.05rem;
}

.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #f8f9fa;
}

.left-nav,
.right-nav {
	display: flex;
	align-items: center;
}

/* Responsive Design */

@media (max-width: 768px) {
	.controls button {
		width: 100%;
		margin: 10px 0;
		width: fit-content;
		height: fit-content;
	}
	.nav__link {
		font-size: 1.2rem;
	}

	.nav__link i {
		font-size: 1.2rem;
	}
}

@media (max-width: 480px) {
	.nav__link {
		font-size: 1rem;
	}

	.nav__link i {
		font-size: 1.5rem;
	}
}

