body {
	font-family: Arial, sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #a1f386;
}

.content {
	text-align: center;
}

h1 {
	font-size: 2rem;
	color: #333;
}
@media only screen and (min-width: 768px) {
	body {
		background-color: #fc4355;
	}
	h1 {
		font-size: 3rem;
	}
}

