<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriWatch</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div class="main">
        <h1>Welcome to NutriWatch</h1>
        <div class="tagline">Watch What You Eat!</div>
        <div class="nav-link btn"><a href="/login">Get Started</a></div>
        <div class="btn"><a href="/dashboard">Guest Login</a></div>
        <div class="btn"><a href="/scanner">Scan Packaged Food</a></div>
    </div>
</body>

</html>
